@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto');
body{
	font-family: 'Roboto', sans-serif;
	background-color: #fff;
	overflow-x: hidden;
	
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Playfair Display', serif;
}
h1{
	font-size: 5vw !important;
}
.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.navbarPhone{
	text-decoration: none;
	color: #bd9840;
	margin-right: 20px;
}
.navbarPhone:hover{
	text-decoration: none;
	color: #e8b94a;
}
.navbarPhone i{
	margin-right: 20px;
}
.bg-dark{
	background-color: #2f2f2f !important;
}
.headerImg{
	color: #fff;
	background: #444 url(https://soapheart.github.io/lawyer/img/hammer.jpg);
    background-size: cover;
    min-height: 100vh;
}
.headerImg h1{
	padding-top:35vh;
	font-size: 5em;
}
.headerImg p{
	font-size: 2em;
}
.mb-0{
	margin-top: 20px;
}
.fa-circle{
	color: #bd9840;
}
.fa-circle:hover{
	color: #e8b94a;
}
.card{
	border:none;
	margin-top: 20px;
}
.card-header{
	cursor: pointer;
	border-bottom: 1px solid #d6d6d6;;
	background-color: #fff;
}
.textBlock{
	margin-top: 20vh;
	margin-bottom: 20vh;
	min-height: 60vh;
}
footer{
	min-height: 50vh;
	color: white;
	background: #444;
}
footer a{
	text-decoration: none;
	color: #bd9840;
}
footer a:hover{
	color: #e8b94a;
}
.contacts{
	min-height: 20vh;
}
.contactsText{
	padding-top: 20%;
	padding-bottom: 20%
}
.bottomContacts{
	padding-top: 7vh;
	color: #bdc3c7;
	height: 25vh;
	background-color: #000;
}
.circles{
	color: white;
	background: #444;
	min-height: 50vh;
	padding: 5vh 2vh 5vh 2vh;
}
.circles .row{
	margin-bottom: 10vh;
}
.circles .text-center{
	padding-top: 4vh;
}
@media .feature (min-width: 600px){
	margin-top: 10vh;
}
.feature{
/*	margin-top: 10vh;*/
	padding-left: 20px;
	padding-right: 20px;
}
.feature img{
	border: solid 2px #bd9840;
}
.feature h5{
	margin-top: 2vh;
}
.form{
	margin-top: 15vh;
	min-height: 40vh;
	background-color: #fff;
	margin-bottom: 15vh;
}
.form input{
	height: 56px;
	width: 100%;
	max-width: 560px;
	margin: 0 auto;
	margin-bottom: 10px;
	color: #000000;
	border: none;
    border-bottom: 1px solid #d6d6d6;
}
.button{
	text-align: center;
	border: 0 none;
	cursor: pointer;
	margin: 0;
	box-sizing: border-box;
	color: #fff;
	background-color: #bd9840;
	height: 56px;
	padding: 0 40px;
	margin-top: 2vh;
}
.button:hover{
	background-color: #e8b94a;
}
.modal-header{
	text-align: center !important;
}
.modal-footerBtn{
	text-align: center !important;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
html[data-useragent*='MSIE 10.0'] h1 {
  color: blue !important;
}
.portraits row{
	padding-top: 10px;
}
.portraits{
	margin-top: 10vh;
	margin-bottom: 10vh;
	min-height: 60vh;
}
.portraitsDesc{
	padding: 20px;
}
.portraits .row{
	border-bottom: 2px solid #bd9840;
	background-color: antiquewhite;
	margin-top: 50px;
}
.portraits img{
	margin-top: 20px;
	border: solid 2px #bd9840;
	max-height: 200px;
}
.line{
	border-bottom: 2px solid #bd9840;
}